@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face{ 
	font-family: 'Pusab';
	src: url('https://marc92020.github.io/geometry-dash-scratch-directory/PUSAB___-webfont[1].ttf')
  /* above is temp until i move this over to the main site */
}

body {
  background-image: linear-gradient(#0065FD, #002E73);
}
