@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face{ 
	font-family: 'Pusab';
	src: url('https://marc92020.github.io/geometry-dash-scratch-directory/PUSAB___-webfont[1].ttf')
  /* above is temp until i move this over to the main site */
	/* can github stop failing to publish my changes oh my god */
}

body {
  background-image: linear-gradient(#0065FD, #002E73);
}

h1 {
   font-family: Pusab;
	color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

}

p {
    font-family: aller, helvetica, arial;
    color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
	text-align: center;
}

.bigger {
	font-site: 6.0vh;
}
